// ****************************************************************************
// *                                 variable, mixin                          *
// ****************************************************************************
@import "import/_variable";
@import "import/_mixin";
@import "import/_function";
@import "import/_placeholder";
@import "import/_fonts";
// ****************************************************************************
// *                                  utilities                                 *
// ****************************************************************************
@import "import/_normalize.scss";
@import "import/_utilities.scss";

// s

.bg1 {
  background: $c1;
}

.bg2 {
  background: $c2;
}

.bg3 {
  background: $c3;
}

.bg4 {
  background: $c4;
}

.c1 {
  color: $c1;
  font-weight: bold;
}

.c2 {
  color: $c2;
}

.c3 {
  color: $c3;
}

.c4 {
  color: $c4;
}

.bg-gray {
  background: $c-gray;
}
/*  
// ****************************************************************************
// *                                  header                                  *
// ****************************************************************************
*/
//@import "module/header";
/*  
// ****************************************************************************
// *                                   main                                   *
// ****************************************************************************
*/
@import "module/*";
/* @import "import/_qts_mid_content.scss";*/
/* 
// ****************************************************************************
// *                                   aside                                  *
// ****************************************************************************
*/// @import "import/_aside_content.scss";
/*s*/
/* 
// ****************************************************************************
// *                                  footer                                  *
// ****************************************************************************
*/
 //@import "module/footer";
