.overlayBody {
    position: fixed;
    z-index: 2;
    display: none;
    background: rgba(0, 0, 0, .6);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

[class^='clb'] {
    clear: both;
    display: block;
}

.clb-header {
    height: 62px;
}

.clb {
    clear: both;
    display: block;
}

.clb5 {
    height: 5px;
}

.clb10 {
    height: 10px;
}

.clb20 {
    height: 20px;
}

.clb30 {
    height: 30px;
}

.clb40 {
    height: 40px;
}

.h500 {
    height: 500px;
}

.p0 {
    padding: 0 !important;
}

.round-0 {
    border-radius: 0 !important;
}

.mg0 {
    margin: 0;
}

/*@include p(50);*/

// /* =========================================================================================================== */
//@include mq(1200) {
//    .row_pc {
//        min-height: 1px;
//        margin-right: -15px;
//        margin-left: -15px;
//    }
//}

//@include mq(480, max) {
//    .col-480-12 {
//        width: 100% !important;
//    }
//    .col-480-6 {
//        width: 50% !important;
//    }
//}

/* /* =========================================================================================================== * /*/

.w1 {
    width: 100% !important;
}

.wa {
    width: auto !important;
    max-width: 100%;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
img{
    max-width: 100%;
}
ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

.icon {
    background: url(../img/sprites.png);
}

.db {
    display: block;
}

.preline {
    white-space: pre-line;
}

.relative {
    position: relative;
}

.fll {
    float: left;
}

.flr {
    float: right;
}
.block-center{
    display: block;
    text-align: center;
}
/* end general */
.container{
    padding: 0 15px;
    @include mq(992,max){
        padding: 0 30px;
    }
    margin: auto;
}

//media_____________________
.show-sp{
    @include mq(768){
        display: none;
    }
}
.show-pc{
    @include mq(767,max){
        display: none;
    }
}
.hidden-sp{
    @include mq-mix(0,992){
        display: none;
    }
}
.hidden-pc{
    @include mq(992){
        display: none;
    }
}
@if $w_con>1170 {
    @media(min-width: ($w-con)+30px) {
        .container {
            width: $w-con + px;
        }
    }
}

@else {
    @media(min-width: 1200px) {
        .container {
            width: $w-con + px;
        }
    }
}
